{%  extends 'accounts/main.html' %}
{% block content %}

<br>

<head>

</head>

<div class="row">
	<div class="col-md-8">
		<h5>TABLE1:</h5>
		<hr>
		<div class="card card-body" style="background-color: #191a1c;">
			<table id = "_deviceData" class="table table-sm">
				<tr>
					<th>#</th>
					<th>ID</th>
					<th>Date</th>
					<th>Time</th>
					<th>Global Active Power</th>
					<th>Global Reactive Power</th>
					<th>Voltage</th>
					<th>Sub Metering 1</th>
					<th>Sub Metering 2</th>
					<th>Sub Metering 3</th>
				</tr>

				{% for result in data %}
				<tr>
					<td>{{result.id}}</td>
					<td>{{result.device_id}}</td>
					<td>{{result.datestmp}}</td>
					<td>{{result.timestmp}}</td>
					<td>{{result.global_active_power}}</td>
					<td>{{result.global_reactive_power}}</td>
					<td>{{result.voltage}}</td>
					<td>{{result.sub_metering_1}}</td>
					<td>{{result.sub_metering_2}}</td>
					<td>{{result.sub_metering_3}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-4">
		<h5>TABLE2:</h5>
		<hr>
		<div class="card card-body" style="background-color: #191a1c;">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create New Row</a>
			<table id = "_deviceDim" class="table table-sm">
				<tr>
					<th onclick="sortTable(0)">#</th>
					<th onclick="sortTable(1)">Device ID</th>
					<th onclick="sortTable(2)">Name</th>
					<th onclick="sortTable(3)">Model</th>
					<th onclick="sortTable(4)">Status</th>
				</tr>
				{% for result in devices %}
				<tr>
					<td>{{result.id}}</td>
					<td>{{result.device_id}}</td>
					<td>{{result.device_name}}</td>
					<td>{{result.device_model}}</td>
					<td>{{result.device_status}}</td>
					<!--<td><a class="btn btn-sm btn-info">Update</a></td>-->
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

<!-- Script to dynamically refresh table using jQuerry library and AJAX function

	-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    setInterval(function() {
        $.ajax({
            type: 'GET',
            url: {% url 'device_data_refresh' %},
        })
        .done(function(response) {
            $('#_deviceData').html(response);
        });
    }, 5000)
</script>

<script type="text/javascript">
    setInterval(function() {
        $.ajax({
            type: 'GET',
            url: {% url 'device_dim_refresh' %},
        })
        .done(function(response) {
            $('#_deviceDim').html(response);
        });
    }, 5000)  

</script>

<script type = "text/javascript">

$("th").on("click",function(){
	var column = $(this).data("column")
	var order = $(this).data("order")
	console.log("Column was clicked.", column, order)

	if(order == "desc"){
		$(this).data("order", "asc")
	}else{
		$(this).data("order", "desc")
	}
})

</script>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("_deviceDim");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>


{% endblock %}


