
h5 {text-align: center;
	color: whitesmoke;}

body{
	background-color: #1e2223;
}

table{
	color: whitesmoke;
	border-collapse: collapse;
}
div{
	background-color: #1e2223;
}

th{
	color: #cccccc;
}
td{
	color: #bfbfbf;
}

.table>tbody>tr>th {
  border-top-color: #38393b;
}
.table>tbody>tr>td {
  border-top-color: #38393b;
}

.btn-info, .btn-info:active, .btn-info:visited {
    background-color: #1d727c;
}

.btn-info:hover{
	background-color: #134c53;
}

.btn-danger, .btn-danger:active, .btn-danger:visited {
	background-color: #99222d
}
.btn-danger:hover{
	background-color: #7d1c25
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #13519b;
}

.btn-primary:hover{
	background-color: #0e3b71
}